**/.devlinks
**/.gradle
**/.idea
**/.project
**/.settings
**/.DS_Store
**/*.log
**/archive-reports
**/bin
**/build
**/data/generated
**/docs/generated
**/dist
**/include
**/lib
**/logs
**/node_modules
**/out
**/tmp
